* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar {
    background-color: #0F172A !important;
}

.nav-link {
    color: #F3E5C3 !important;
    font-weight: 600;
}

.nav-link:hover {
    color: #93C5FD !important;
}

.navbar-brand img {
    filter: brightness(1.1);
}

/* CARROSSEL */
.carrossel-boot {
    width: 90%;
    margin: 20px auto 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
